* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-decoration: none;
  background-color: rgb(55, 55, 55);
  margin-bottom: 10px;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {

  font-size: 25px;
  float: right;
  list-style-type: none;
  margin-top: 25px;
  padding-right: 20px;

}

a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

button {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
  padding: 5px;
}

button:hover,
nav a:hover {
  transition: 0.6s ease;
  background-color: #fff;
  color: #000;
}

.timestamp {
  color: #b4b4b4;
}

.comm-card {

  padding-bottom: 10px;
}

.dis-aft {

  display: none
}

#dashboard,
.title,
.comm-card,
#postpage {
  color: #fff;
  text-decoration: none;
}